*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: linear-gradient(to right, #313131, #8f8f8f);
    background-size: cover;
    font-family: "Arial", Helvetica, sans-serif;
}

.topbar {  /* topbarın style ayarları yapılır */
    background-color: #1a1a1a;
    height: 70px;
    border-radius: 20px;
    margin-top: 8px;
    margin-left: 10px;
    width: 98%;
  }

.topbar a {
    font-family: "Arial", Helvetica, sans-serif;
    float: left; /* öğeyi sol veya sağ tarafa hizala */
    color: #FFFFFF;
    text-align: center;
    padding-left: 40px; /* etrafına boşluk */
    padding-top: 20px;
    font-size: 23px;
    font-weight: bold;
  }

.topbar a.isim { 
    padding-left: 820px;  /* ismin sayfanın en sağsında olmasını sağlar */
}

.container{
    background-color: #1a1a1a;
    background: linear-gradient(to bottom, #1a1a1a, #353535);
    color: #FFFFFF;
    width: 500px;
    padding: 10px;
    margin: 50px;
    border-radius:10px ;
    box-shadow: 0 20 35px;
    margin-left: 450px;
    margin-top: 100px;
    height: 300px;
}

.container label{
    text-align: center;
    margin-left: 50px;
}

.container h2{
    text-align: center;
    margin: 10px;
}

.container input{
    text-align: center;
    border: none;
    background-color: #c6c6c6;
    color: #464646;
    margin: 10px; /* dışındaki boşluk */
    margin-left: 50px;
    padding: 12px; /* iç çevresindeki boşluk */
    width: 80%;
    border-radius: 5px;
    outline: none;
}

input:focus::placeholder{
    color: transparent;
}

input::placeholder{
    color: #222;
    transition: color 0.3s ease;
}

.container button {
    margin-top: 10px;
    margin-left: 210px;
    background-color:#c6c6c6;
    border-radius: 5px;
    color: #222;
    padding: 12px;
    border: none;
}

p{
    text-align: center;
    border: none;
    color: #c6c6c6;
    margin: 10px; 
    margin-left: 50px;
}

p a{
    color: #f08282;
    text-decoration: none;
}

h4 a{
    margin-top: 10px;
    margin-left: 650px;
    background-color: #1a1a1a;
    background: linear-gradient(to bottom, #1a1a1a, #353535);
    border-radius: 5px;
    padding: 12px;
    color: #f08282;
    border: none;
    text-decoration: none;
    width: 200px;

}